.jumbotron {
  padding-top: 120px;
  background-image: url(images/jp.jpg);
  background-size: cover;
  height: 600px;
}

#hobby {
  background-color: rgb(240, 240, 240);
}

footer {
  background-color: #004445;
  color: white;
}

section {
  padding-top: 5rem;
}
